body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;

}

#racine{
    width: 100%;
    display:flex;
    flex-direction: column;
}

#formulaire{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 50%;
    border : 1px solid black;
    margin-bottom: 0;
}

fieldset{
    border-radius: 5px;
}

#guess{
    width: 80%;
    border-color: beige;
    border-radius: 2px;
    height: 60%;
    font-size: 15px;
}


#liste_carte{
    width: 50%;
    min-height: 70px;
    max-height: 190px;
    display: inline-block;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
}

#liste_carte table,td{
    border: 1px solid black;
    border-collapse: collapse;
    width : 100%;
    height : 100%;
}

#carte{
    height : 60px;
    width : 100%;
    margin-left: 10px;
}
#photo_carte{
    height: 50px;
    width: 45px;

}
#carte p{
    width: 80%;
    margin-left: 25px ;
    margin-right: 25px;
    font-family: "Candara Light";
}

#nomcontain{
    width : 80%;
    margin-left: 25px ;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}
#nomcontain p{
    margin: 0;
    width: 100%;
}
#surnom{
    font-size: 12px;
    margin : 0;
}


#comp{
    width : 75%;
    table-layout: fixed;
}